.mui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

@for $i from 1 to 11 {
    .mui-flex-#{$i} {
        -webkit-box-flex: $i;
        -webkit-flex: $i;
        flex: $i;
        overflow: hidden;
    }
}
