// @import "src/styles/base/fn";
.mui-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    z-index: 1;
}

.mui-page .mui-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.mui-page .mui-bar_nav~.mui-content {
    top: 1.87733rem;
}

.mui-fixedbottom {
    width: 100%;
    height: 2.13333rem;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
}

.mui-fixedbottom~.mui-content {
    bottom: 2.13333rem;
}

.mui-content__page-result,
.mui-content__page-error {
    padding: 2.56rem 1.06667rem 1.28rem;
}

.mui-content__page-result img,
.mui-content__page-error img {
    width: 5.33333rem;
    height: 7.97867rem;
    margin: 0 auto;
}

.mui-content__page-result .mui-content__tips,
.mui-content__page-error .mui-content__tips {
    padding: 0.74667rem 0;
    line-height: 0.768rem;
    font-size: 0.768rem;
    color: #222222;
    text-align: center;
}

.mui-content__page-result .mui-content__desc,
.mui-content__page-error .mui-content__desc {
    height: 1.792rem;
    font-size: 0.64rem;
    color: #666666;
    text-align: center;
    line-height: 1.4;
    overflow: hidden;
}

.mui-content__page-ft {
    text-align: center;
}

.mui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.mui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
