// @import "src/styles/base/fn";
.mui-badge {
    display: inline-block;
    padding: px2rem(4) px2rem(8);
    min-width: px2rem(30);
    border-radius: px2rem(18);
    background-color: #F66045;
    color: #FFFFFF;
    height: px2rem(30);
    line-height: px2rem(25);
    text-align: center;
    font-size: px2rem(24);
    vertical-align: middle;
}

.mui-badge_dot {
    height: 0;
    min-width: 0;
    padding: 4px;
    border: 1px solid #fff;
}
