// 品牌色 用于大部分按钮 背景等
$auiColorPrimary: #ffd72d;
// 用于提示语 幽灵按钮等
$auiTipsColor: #F99E00;
// 用于包含链接的常规性短文字
$auiLinkColorDefault: #2CB5FC;
// 用于促进用户前进的地方 如价格
$auiAttentionColor: #F66045;
// 用于警示性 删除性等行为
$auiColorWarn: #FF3D43;
// 用于重要级文本信息 标题信息
$auiTextColorImportant: #222222;
// 用于普通级文本信息
$auiTextColorGeneral: #666666;
// 用于辅助或者次要文本信息
$auiTextColorAssistant: #999999;
// 用于分割线
$auiLineColorLight: #e4e4e4;
// 用于内容区域底色或分隔模块
$auiBgColorDefault: #f7f7f7;
// 用于内容区域底色或浅色文字
$auiTextColorLight: #cccccc;
