.mui-btn {
  position: relative;
  display: inline-block;
  padding-left: px2rem(36);
  padding-right: px2rem(36);

  text-align: center;
  text-decoration: none;
  color: $colorTextMain;
  background: transparent;
  border-radius: $btnBorderRadius;
  border-width: 0;
  @include setTapColor();
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  &:focus {
    outline: 0;
  }
}
