.mui-btn {
  position: relative;
  display: inline-block;
  padding-left: px2rem(36);
  padding-right: px2rem(36);

  text-align: center;
  text-decoration: none;
  color: $colorTextMain;
  background: transparent;
  border-radius: $btnBorderRadius;
  border-width: 0;
  @include setTapColor();
  -webkit-appearance: none;
  overflow: hidden;

  &:focus {
    outline: 0;
  }

}

.mui-btn_inline {
  display: inline-block;
}
