&.mui-btn_large {
    width: $widthLarge;
    line-height: $heightLarge;
    font-size: $fontSizeLarge;
}

&.mui-btn_middle {
    width: $widthMiddle;
    line-height: $heightMiddle;
    font-size: $fontSizeMiddle;
}

&.mui-btn_small {
    width: $widthSmall;
    line-height: $heightSmall;
    font-size: $fontSizeSmall;
}
