.mui-btn_full {
  width: 100%;
  line-height: $heightFll;
  background-color: $colorPrimary;
  font-size: $fontSizeFll;
  color: $btnFullColor;
  border-radius: 0;

  &:active {
    background-color: $btnFullActiveBg;
  }

  &.disabled {
    color: $btnFullDisabledColor;
    background-color: $btnFullDisabledBgColor;
  }
}
