.mui-btn_border {
	color: $colorPrimary;
	border: 1px solid $colorPrimary;
	&:active {
		color: $btnBorderActiveColor;
		border-color: $btnBorderActiveBdColor;
	}
	// @import 'mui-btn_size';
	&:disabled {
		color: $btnDisabledColor;
		border-color: $btnDisabledBg;
		background-color: transparent;
	}
}