.mui-btn_primary {
  background-color: $colorPrimary;
  &:active {
    background-color: $btnPrimaryActiveBg;
  }

  // @import 'mui-btn_size';

  &.disabled {
    color: $btnPrimaryDisabledColor;
    background-color: $btnPrimaryDisabledBg;
  }
}