.mui-bar_modal {
  height: px2rem(97);

  .mui-bar__title {
    line-height: px2rem(97);
    color: $colorTextGeneral;
    font-size: $fontSTitle;
  }

  .mui-bar__left,
  .mui-bar__tools {
    line-height: px2rem(97);
    color: $colorTextGeneral;

    [class*='mui-icon-'] {
      font-size: $fontSTitle;
      vertical-align: middle;
    }
  }
}
