.mui-cell.mui-cell__input_vcode {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.mui-vcode__img {
  width: px2rem(200);
  height: px2rem(96);
  vertical-align: middle;
}

.mui-vcode__btn {
  display: inline-block;
  width: px2rem(200);
  padding: 0 px2rem(29);
  border: none;
  line-height: px2rem(96);
  vertical-align: middle;
  font-size: $fontBody;
  color: #F99E00;
  position: relative;
  white-space: nowrap;
  background-color: transparent;
  outline: 0;

  &:before {
    @include setLeftLine(#e4e4e4);
  }

  &.disabled {
    color: $colorTextAssistant;
  }
}
