.mui-tags_bg {
    display: inline-block;
    line-height: px2rem(30);
    padding: 0 px2rem(5);
    color: #ffffff;
    border-radius: px2rem(4);
    font-size: px2rem(22);

    &.mui-tags_orange {
        background-color: #F99E00;
    }

    &.mui-tags_red {
        background-color: #FF3F3F;
    }

    &.mui-tags_yellow {
        padding: 0 px2rem(8);
        line-height: px2rem(28);
        border-radius: px2rem(58);
        background-color: #FFE352;
        color: #474747;
    }

    &.mui-tags_linear-blue {
        font-size: px2rem(20);
        padding: 0 px2rem(4);
        line-height: px2rem(26);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#669aff+0,a97ffe+100 */
        background: #669aff;
        /* Old browsers */
        background: -moz-linear-gradient(left, #669aff 0%, #a97ffe 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #669aff 0%, #a97ffe 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #669aff 0%, #a97ffe 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#669aff', endColorstr='#a97ffe', GradientType=1);
        /* IE6-9 */
    }

    &.mui-tags_linear-red {
        font-size: px2rem(20);
        padding: 0 px2rem(4);
        line-height: px2rem(26);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6298+0,f43a56+100 */
        background: #ff6298;
        /* Old browsers */
        background: -moz-linear-gradient(left, #ff6298 0%, #f43a56 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ff6298 0%, #f43a56 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ff6298 0%, #f43a56 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6298', endColorstr='#f43a56', GradientType=1);
        /* IE6-9 */
    }
}

.mui-tags_border {
    display: inline-block;
    line-height: px2rem(32);
    padding: 0 px2rem(4);
    border: 1px solid #F99E00;
    border-radius: px2rem(4);
    color: #FB9F00;
    font-size: px2rem(24);
}
