/*
* mui 规范中定义的颜色
*/
//------------------------ //
//---updated on 20191011--- //
//-------------------------//
$colorBlack:#000;
$colorRed:#ff3e00;

// $colorTest:hsb(14.5, 100, 100);
//------
// color1 品牌色 用于大部分按钮 背景等

$colorPrimary: #ffe24d;
/*color2 用于提示语 幽灵按钮等*/
$colorTips: #f18800; // 这个颜色后续需要废弃。
// color3 用于包含链接的常规性短文字
$colorLink: #007fff;
// color4 用于促进用户前进的位置或用于警示 删除等
$colorSuccess: #12AB24;
$colorWarn: $colorRed;
// color6 用于重要级文本信息 标题信息
$colorTextMain:lighten($colorBlack, 20%); // #333
// color5 用于普通级文本信息
$colorTextGeneral:lighten($colorBlack, 40%); // #666
// color7 用于次要文本信息
$colorTextAssistant:lighten($colorBlack, 60%); // #999
// color9 用于内容区域底色或浅色文字
$colorPlaceholder:lighten($colorBlack, 80%); // #ccc
// color10 用于全站的分割处理
$colorLineLight: lighten($colorBlack, 90%); // #e6e6e6
// color11 用于不可点按钮颜色
$colorBtnBg: lighten($colorBlack, 90%);
// clor12 用于内容区域底色或分隔模块
$colorBg: lighten($colorBlack, 97%); // #f8f8f8
