/*
* mui 规范中定义的字号
*/

//用于重要标题和按钮
// $fontSizeLevel1: px2rem(40);
//用于标题栏主标及重要标题文字
// $fontSizeLevel2: px2rem(36);
//用于标题栏副标题
// $fontSizeLevel3: px2rem(32);
//用于次重要标题
// $fontSizeLevel4: px2rem(30);
// //用于重要正文或小标题
// $fontSizeLevel5: px2rem(28);
//用于大部分正文
// $fontSizeLevel6: px2rem(26);
// //用于辅助性文字
// $fontSizeLevel7: px2rem(24);


$fontHeadline:px2rem(40); // 大标题
$fontTitle:px2rem(36); // 主标题
$fontSTitle:px2rem(32); // 次标题
$fontXSTitle:px2rem(30); // 小标题
$fontBody:px2rem(28); // 正文
$fontSBody: px2rem(24); // 小正文
$fontCaption:px2rem(20); // 弱提示
