.mui-cell_access {
  @include setTapColor();
  color: inherit;

  &:active {
    background-color: #ECECEC;
  }

  &.mui-cell_disabled {
    .mui-cell__ft {
      color: $colorTextAssistant;
    }
  }

  .mui-cell__ft {
    padding-right: px2rem(50);

    position: relative;

    &:after {
      content: " ";
      @include setArrow(right, px2rem(14), px2rem(24));
      position: absolute;
      top: 50%;
      margin-top: px2rem(-12);
    }
  }
}
