@import "../base/fn";
$textBtnColor: #fff;
$btnPrimaryBg: #EB5248; // xiaov
$btnPrimaryActiveBg: #EB5248; //xiaov
$btnFullBg: #EB5248; //xiaov
$btnFullActiveBg: #EB5248; //xiaov
$btnFullColor: #fff; //xiaov
@import "../index";
